@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.poppins-400 {
  font-weight: 400;
}

.bg-primary {
  background: #0B032D;
}
